streamlit
google-generativeai
replicate
pillow
numpy
requests
streamlit-drawable-canvas
watchdog

moviepy==1.0.3      # 必选，用于视频剪辑和合成
pydub               # 用于音频处理
opencv-python-headless # 用于视频帧处理 (服务器端专用版本)
imageio             # 基础图像处理
proglog             # 用于捕获 Moviepy 的进度条








